/* Scroll Style Settings - Start */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a70ef;
}
/* Scroll Style Settings - End */

/* Font Style Settings - Start */
@font-face {
  font-family: 'slRegular';
  src: url('slRegular.woff2') format('woff2');
}
@font-face {
  font-family: 'slBold';
  src: url('slBold.woff2') format('woff2');
}
@font-face {
  font-family: 'slCool';
  src: url('slCool.woff2') format('woff2');
}
/* Font Style Settings - End */

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2.2em;
  font-family: 'slBold';
  margin-top: 5px;
  margin-left: 5px;
}
h3 {
  font-size: 1.8em;
  font-family: 'slBold';
}
h4 {
  font-size: 1.6em;
  font-family: 'slBold';
}
h5 {
  font-size: 1.2em;
  font-family: 'slBold';
}
h6 {
  font-size: 1em;
  font-family: 'slBold';
}
p {
  font-family: 'slRegular';
  color: #c1c2c7;
}
.wrapper {
  margin: 0 auto;
  margin-top: 50px;
  width: 390px;
  height: 812px;
  background-color: #20252b;
  color: #fff;
  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1em solid #c1c2c7;
}
.header-back {
  display: flex;
  justify-content: flex-start;
}
.confirm {
  font-family: 'slBold';
  color: white;
  font-size: 1.8em;
}

.cancel {
  color: white;
  font-size: 1.8em;
}

.buy-header {
  font-family: 'slRegular';
  font-size: 1.6em;
  color: white;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.1em solid #c1c2c7;
  padding-bottom: 20px;
  margin-bottom: -2px;
}

.buy-ticket-row {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  border-bottom: 0.1em solid #c1c2c7;
  padding: 0 5px;
  /* padding-bottom: 5px; */
}
.buy-ticket-row p {
  font-family: 'slBold';
  color: white;
  font-size: 1.4em;
  margin-left: 5px;
  margin-right: 5px;
}
.buy-ticket-rowgroup {
  display: flex;
  align-items: center;
}

.buy-ticket-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.btn {
  font-family: slRegular;
  letter-spacing: 0.1em;
  padding: 4px 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: #2a70ef;
  color: white;
  border: none;
  font: slRegular;
  cursor: pointer;
  outline: inherit;
}
.btn-disabled {
  font-family: slBold;
  background-color: #4c5157;
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
  border: none;
  font: slRegular;
  cursor: pointer;
  outline: inherit;
}
.buy-btn-size {
  width: 95%;
  padding: 10px;
}
.slCool {
  font-family: 'slCool';
  font-size: 30px;
}
.slBold {
  font-size: 30px;
  font-family: 'slBold';
}
.slRegular {
  font-size: 30px;
  font-family: 'slRegular';
}
.blue-line {
  margin-bottom: 5px;
  margin-left: 3px;
  border-bottom: 5px solid #2a70ef;
  width: 113px;
  height: 0.5em;
}
.ticket-holder {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #12151a;
  min-height: 72px;
  width: 371px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.biljett-typ-header {
  font-family: slBold;
  margin: 0 auto;
  margin-top: -5px;
  margin-left: 5px;
  line-height: 42px;
  width: 371px;
  border-bottom: 1px solid #c1c2c7;
}
.biljett-typ {
  font-family: slBold;
  margin: 0 auto;
  margin-top: -5px;
  width: 371px;
  border-bottom: 1px solid #c1c2c7;
  color: #f2f2f4;
}
.biljett-typ p,
h3 {
  padding-left: 10px;
}
.biljett-typ p {
  font-family: slRegular;
  margin-top: -13px;
}
.hantera-biljett-subheader {
  width: 360px;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.space-between img,
.space-between h3 {
  padding-right: 14px;
}
.space-between img {
  height: 28px;
  margin-top: 18px;
}
header img {
  line-height: 15px;
}
.bought-ticket-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 21.6em;
  background-color: #197e50;
  width: 35em;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.ticket-info > h2 {
  font-size: 4.8em;
  margin-top: 40px;
  margin-left: 15px;
  line-height: 0px;
}
.ticket-info > h3 {
  margin-left: 5px;
  font-size: 1.6em;
  margin-top: 35px;
  line-height: 0px;
}
.ticket-info > p {
  margin-left: 15px;
  font-size: 1.3em;
  margin-top: 20px;
  line-height: 0px;
  color: white;
  font-family: 'slRegular';
}

.ticket-info {
  font-family: slRegular;
}
.ticket-links {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.ticket-links-show_btn {
  display: flex;
  align-items: center;
  font-family: slBold;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
.bike-link {
  font-family: slBold;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
.ticket-links-show_btn > img {
  padding-left: 10px;
  height: 15px;
}
#hantera-biljetter h3 {
  /* margin-left: -10px; */
}
#hantera-biljetter .blue-line {
  margin-top: 20px;
  width: 146px;
}
#kop-biljetter {
  margin-top: 30px;
}
.active {
  color: #80b3f5;
}
.logga-in {
  color: #c1c2c7;
  font-size: 1.9em;
  margin-top: 18px;
  font-family: slRegular;
  margin-right: 15px;
}
footer {
  display: flex;
  justify-content: space-evenly;
  height: 35px;
}
footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 45px; */
  width: 45px;
  margin: 10px;
  font-size: 18px;
}
footer img {
  width: 35px;
  height: 35px;
}

footer p {
  letter-spacing: 1px;
  margin-top: -2px;
  font-size: 20px;
}

/* Buy Ticket Screen Styling - Start */
.footer-margin {
  margin-top: 398px;
}
/* Buy Ticket Screen Styling - End */

/* Map Styling - Start */
.footer-map-margin {
}
.map-header {
  height: 5vh;
}
.map-container {
  background-image: url(./img/Map.png);
  height: 44.5vh;
}
.bike-info {
  height: 22vh;
  background-color: #4c5157;
}
/* Map Styling - End */
