a {
  cursor: pointer;
  all: unset;
}

a:link {
  cursor: pointer;
  all: unset;
}

a:visited {
  cursor: pointer;
  all: unset;
}

a:focus {
  cursor: pointer;
  all: unset;
}

a:hover {
  cursor: pointer;
  /* all: unset; */
}

a:active {
  cursor: pointer;
  all: unset;
}
.App {
  margin: 0 auto;
  margin-top: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.Home {
  display: flex;
  flex-direction: column;
}
.Home > div {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
